<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.mall.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.znsd.mall.entity.Brand">
        <id column="brandId" property="brandId" />
        <result column="categoryId" property="categoryId" />
        <result column="brandName" property="brandName" />
        <result column="brandExplain" property="brandExplain" />
        <result column="brandImg" property="brandImg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        brandId, categoryId, brandName, brandExplain, brandImg
    </sql>

</mapper>
