<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.mall.mapper.BrowseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.znsd.mall.entity.Browse">
        <id column="browseId" property="browseId" />
        <result column="productId" property="productId" />
        <result column="userId" property="userId" />
        <result column="browseTime" property="browseTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        browseId, productId, userId, browseTime
    </sql>

</mapper>
