<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.mall.mapper.RecordpointsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.znsd.mall.entity.Recordpoints">
        <id column="recordPointsId" property="recordPointsId" />
        <result column="userId" property="userId" />
        <result column="operationTime" property="operationTime" />
        <result column="sumValue" property="sumValue" />
        <result column="explaintext" property="explaintext" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        recordPointsId, userId, operationTime, sumValue, explaintext
    </sql>

</mapper>
