<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.mall.mapper.SalesreturnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.znsd.mall.entity.Salesreturn">
        <id column="orderStatusId" property="orderStatusId" />
        <result column="orderId" property="orderId" />
        <result column="orderSn" property="orderSn" />
        <result column="productId" property="productId" />
        <result column="productCount" property="productCount" />
        <result column="reason" property="reason" />
        <result column="returnName" property="returnName" />
        <result column="returnPhone" property="returnPhone" />
        <result column="salesReturn" property="salesReturn" />
        <result column="exepressCompany" property="exepressCompany" />
        <result column="courierNumber" property="courierNumber" />
        <result column="proofPics" property="proofPics" />
        <result column="returnSn" property="returnSn" />
        <result column="returnAmount" property="returnAmount" />
        <result column="createTime" property="createTime" />
        <result column="status" property="status" />
        <result column="audit" property="audit" />
        <result column="handleNote" property="handleNote" />
        <result column="receiveMan" property="receiveMan" />
        <result column="receiveTime" property="receiveTime" />
        <result column="addresId" property="addresId" />
        <result column="orderCause" property="orderCause" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        orderId, orderSn, productId, productCount, reason, returnName, returnPhone, salesReturn, exepressCompany, courierNumber, proofPics, returnSn, returnAmount, createTime, status, audit, handleNote, receiveMan, receiveTime, addresId, orderStatusId, orderCause
    </sql>

</mapper>
