<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.mall.mapper.SalesreturnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.znsd.mall.entity.Salesreturn">
        <id column="salesReturnId" property="salesReturnId" />
        <result column="userId" property="userId" />
        <result column="orderId" property="orderId" />
        <result column="orderMoney" property="orderMoney" />
        <result column="applyForTime" property="applyForTime" />
        <result column="ordeRresult" property="ordeRresult" />
        <result column="remarks" property="remarks" />
        <result column="linkman" property="linkman" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="orderNumber" property="orderNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        salesReturnId, userId, orderId, orderMoney, applyForTime, ordeRresult, remarks, linkman, phone, address, orderNumber
    </sql>

</mapper>
