<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.mall.mapper.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.znsd.mall.entity.Users">
        <id column="userId" property="userId" />
        <result column="userName" property="userName" />
        <result column="userPassword" property="userPassword" />
        <result column="userIcon" property="userIcon" />
        <result column="userPhone" property="userPhone" />
        <result column="createTime" property="createTime" />
        <result column="userStatus" property="userStatus" />
        <result column="userIntegral" property="userIntegral" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userId, userName, userPassword, userIcon, userPhone, createTime, userStatus, userIntegral
    </sql>

</mapper>
