<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.mall.mapper.UsercenterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.znsd.mall.entity.Usercenter">
        <id column="centerId" property="centerId" />
        <result column="userId" property="userId" />
        <result column="centerSex" property="centerSex" />
        <result column="centerBirthday" property="centerBirthday" />
        <result column="centerOccupation" property="centerOccupation" />
        <result column="centerIncome" property="centerIncome" />
        <result column="identity" property="identity" />
        <result column="centerMember" property="centerMember" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        centerId, userId, centerSex, centerBirthday, centerOccupation, centerIncome, identity, centerMember
    </sql>

</mapper>
